<div>
  <!-- <mat-icon matBadge="{{total_count}}" aria-hidden="false" aria-label="Example home icon">home</mat-icon> -->
  <p>Total Available Cars {{total_count}}</p>
</div>

<div>
  <mat-form-field appearance="fill" class="example-full-width space">
    <mat-label>Brand</mat-label>
    <mat-select [formControl]="brandCtrl" multiple (selectionChange)="onBrandChange($event)">
      <mat-option *ngFor="let brand of brandArr" [value]="brand">{{brand}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" class="example-full-width space">
    <mat-label>Year</mat-label>
    <mat-select [formControl]="yearCtrl" multiple (selectionChange)="onYearChange($event)">
      <mat-option *ngFor="let year of yearArr" [value]="year">{{year}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" class="example-full-width space">
    <mat-label>Engine</mat-label>
    <mat-select [formControl]="engineCtrl" multiple (selectionChange)="onEngineChange($event)">
      <mat-option *ngFor="let engine of engineArr" [value]="engine">{{engine}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" class="example-full-width space">
    <mat-label>Segment</mat-label>
    <mat-select [formControl]="segmentCtrl" multiple (selectionChange)="onSegmentChange($event)">
      <mat-option *ngFor="let segment of segmentArr" [value]="segment">{{segment}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>